* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
